.List_Wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

.Tab_Bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

.Select {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .List {
    background-color: white;
  }