.TodoList {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid gray; /*나중에 삭제*/

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cover {
  position: relative;
}

.cover img {
  position: absolute;
  width: 100%;
  z-index: -1;
}
